.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button.border {
    border: 1px solid var(--gray);
}

.button.fullWidth {
    width: 100%;
}

.button:hover {
    background-color: var(--light-grey);
}

.button:disabled {
    color: var(--light-grey);
    pointer-events: none;
    border: 1px solid var(--light-grey);
}